<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fashion</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<h1>Fashion</h1>

 <div class="cards-container">
        <div class="card" style="width: 58rem;">
            <img class="card-img-top" src="../images/runway1.jpg"">
        <div class="card-body">
            <h3 class="card-title"> R&R by Renee</h3>
            <h4 class="card-text">Fashion Designer.</h4>
            <ul class="card-text" id="wardrobe">
              <li>Wedding Dress</li>
              <li>Couture</li>
              <li>Red Carpet Dress</li>
              <li>Seasonal Wardrobe</li>
              <li>Holiday Wardrobe</li>
              <li>Ready-To-Wear</li>                
            </ul>
            {{!-- <a href="/makeup" class="btn btn-primary">Makeup Artist</a> --}}
  
        </div>

</body>
</html>