<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Providers</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<h1>Makeup</h1>

    <div class="cards-container">
        <div class="card" style="width: 58rem;">
            <img class="card-img-top" src="../images/make-up2.jpg">
        <div class="card-body">
            <h3 class="card-title">Looks by Rawan</h3>
            <h4 class="card-text">Makeup Artist.</h4>
            <ul class="card-text" id="makeup">
              <li>Wedding</li>
              <li>Red Carpet</li>
              <li>Modeling</li>
              <li>Glamorous</li> 
              <li>Professional Portrait</li>               
            </ul>
            {{!-- <a href="/makeup" class="btn btn-primary">Makeup Artist</a> --}}

        </div>
        <br>


</body>
</html>