
<h1>Procedures</h1>
{{#each procedures}}
    <p>
        <h1{{{this._id}}}"</h1>
        <h1>{{this.title}}</h1>
        {{!-- <button><a href="/procedure-edit?procedure_id={{this._id}}" class="edit-button">EDIT</a></button>
        <button><a href="/procedure-add" class="edit-button">Add</a> --}}
    </p>
{{/each}}


