<div>          
                    <button class="logout"><a href="/logout">Logout</a></button>
          </div> 



<h1>Add a new procedure</h1>

<form action="/procedure-add" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Provider:</label>
  <input type="text" name="provider">

  <label for="">Review:</label>
  <input type="text" name="review">

  <button type="submit">ADD</button>
</form>
