<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Providers</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<h1>Procedures</h1>

    <div class="cards-container">
        <div class="card" style="width: 58rem;">
            <img class="card-img-top" src="../images/procedure.jpeg">
        <div class="card-body">
            <h3 class="card-title">Procedures</h3>
            <h4 class="card-text">Makeup Artist.</h4>
            <ul class="card-text" id="makeup">
              <li>Botox</li>
              <li>Dermabrasion</li>                      
            </ul>
           

        </div>
        <br>


</body>
</html>

<h1>Botox Injections</h1>
<h4>BOTOX® is the brand name of a toxin produced by the bacterium Clostridium botulinum.
    In large amounts, this toxin may cause muscle paralysis known as botulism, which is usually associated with food poisoning. 
    In Small, diluted (weakened) amounts, it can be directly injected into muscles, causing controlled relaxation of the muscles.
BOTOX® is approved for treatment of frown lines on the forehead, crow’s feet (lines around the eye), and axillary hyperhidrosis 
(increased sweating of the armpits). Within the past few years, new products that have similar preparations have been introduced 
into the U.S. market and have been well-received by patients.

This medication is given by injection, by an experienced health care professional, into the affected muscles (intramuscularly) 
when treating eye disorders, muscle stiffness/spasms, and wrinkles. When used to prevent migraines, it is injected into the muscles
 of the head and neck. It is injected into the skin (intradermally) for the treatment of excessive sweating. For the treatment of 
 drooling/excess saliva, this medication is injected into the salivary glands. When treating overactive bladder, it is injected 
 directlyinto the bladder.

Your dose, the number of injections, the site of injections, and how often you receive the medication will be determined by your 
condition and your response to therapy. Most people start to see an effect within a few days to 2 weeks, and the effect usually 
lasts 3 to 6 months.

BOTOX® includes all of the formulations:

BOTOX®: OnabotulinumtoxinA
Dysport®: AbobotulinumtoxinA
Xeomin®: IncobotulinumtoxinA</h4>

<h1>Dermabrasion</h1>
<h4>Dermabrasion and dermaplaning help to "refinish" the skin's top layers through a method of controlled surgical scraping. 
    The treatments soften the sharp edges of surface irregularities, giving the skin a smoother appearance.
    Dermabrasion is most often used to improve the look of facial skin left scarred by accidents or previous surgery, 
    or to smooth out fine facial wrinkles. It's also sometimes used to remove the pre-cancerous growths called keratoses. 
    Dermaplaning is also commonly used to treat deep acne scars.
Both dermabrasion and dermaplaning can be performed on small areas of skin or on the entire face. They can be used alone, 
or in conjunction with other procedures such as facelift, scar removal/revision or chemical peel.</h4>

<h1>Facials</h1>
