<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Residential Concierge</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<h1>Residential Concierge</h1>

    <div class="cards-container">
        <div class="card" style="width: 58rem;">
            <img class="card-img-top" src="../images/rose.jpeg">
        <div class="card-body">
            <h3 class="card-title">Residential Concierge</h3>
            <h4 class="card-text">Services</h4>
            <ul class="card-text" id="residential">
              <li>Residential</li>
                          
            </ul>
           

        </div>
        <br>


</body>
</html>