body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.cards-container {
  display: flex;
  padding: 10% 10%;
  justify-content: space-around;
}


.review-item {
  border-bottom: 1px solid grey;
  margin: 10px 0;
  padding-bottom: 10px;
}

.review-item p {
  margin-bottom: 0;
}

.review-item span {
  font-size: 10px;
  color: grey;
}

.edit-button {
  margin-left:20px; 
  width: 225px;
  height: 35px;
  border-radius: 55px;
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  background-color: rgb(249, 168, 254);
  border-radius: 6px;
}
#makeup{
  color: rgb(249, 7, 160)
}

.login{
  background-color: rgb(249, 168, 254);
  width: 85px;
  height: 35px;
  border-radius: 25px;

}

